{% extends 'layout.html' %}
{% block content %}
<h1>Financial Assessment Summary</h1>
<div id="s_main">
   <div id="s_submain">
   <form method="POST" action="">
       <div class="form-group clsfeild">
           <label class="clslabel">Number of Payments</label>
           <input type="" readonly="readonly" value={{ assessment.loan_term }} class="form-control">
       </div>
       <div class="form-group clsfeild">
           <label class="clslabel">Monthly Repayments £</label>
           <input type="" readonly="readonly" value={{ assessment.monthly_repayments }} class="form-control">
       </div>
       <div class="form-group clsfeild">
           <label class="clslabel">Total Repayment Amount £</label>
           <input type="" readonly="readonly" value={{ assessment.total_amount_payable }} class="form-control">
       </div>
       <div class="form-group clsfeild">
           <label class="clslabel">Total Cost of Loan £</label>
           <input type="" readonly="readonly" value={{ assessment.total_interest_payable }} class="form-control">
       </div>
       <div class="form-group clsfeild">
           <label class="clslabel">New Monthly Expenses £</label>
           <input type="" readonly="readonly" value={{ assessment.new_monthly_expenses }} class="form-control">
       </div>
       <div class="form-group clsfeild">
           <label class="clslabel">New Monthly Surplus £</label>
           <input type="" readonly="readonly" value={{ assessment.new_monthly_surplus }} class="form-control">
       </div>
       <div class="form-group clsfeild">
           {{ form.proceed.label(class="clslabel") }}
           {% if form.proceed.errors %}
               {{ form.proceed(class="selectpciker is-invalid") }}
               <div class="invalid-feedback">
               {% for error in form.proceed.errors %}
                   <span>{{ error }}</span>
               {% endfor %}
               </div>
           {% else %}
               {{ form.proceed(class="selectpciker") }}
           {% endif %}
       </div>
   </form>
  </div>
</div>
<div>
   <a href={{ url_for('home') }}>Home</a>
</div>
{% endblock content %}
